<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/images/Sciences-Classes-Physics-icon.png">

    <title>Register</title>

    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/signin.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
	<form class="form-signin" method="post" action="{% block form_action %}{% endblock%}">{% csrf_token %}
	    {% block fields %}
	    <h2 class="form-signin-heading">Registration</h2>
	    {{ form.non_field_errors }}
	    <div class="fieldWrapper">
	        {{ form.email.errors }}
	        {{ form.email }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.password.errors }}
	        {{ form.password }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.first_name.errors }}
	        {{ form.first_name }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.last_name.errors }}
	        {{ form.last_name }}
	    </div>
	    {% endblock %}
	    &nbsp
	    <p><button class="btn btn-lg btn-primary btn-block" type="submit">{% block login %}Sign Up {% endblock %}</button></p>
	</form>
    </div>
</body>
</html>