{% extends 'login/templates/authentication.html' %}
{% block form_action  %}/login/authenticate/{% endblock %}
{% block fields  %}
    <h2 class="form-signin-heading">Login</h2>
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.email.errors }}
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        {{ form.password }}
    </div>
    &nbsp
{% endblock %}
{% block login %}Sign In{% endblock %}