{% extends "luminary/templates/LuminaryMenu.html" %}
{% block stylesheets %}
    <link href="../../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
	<form class="form-questions" method="post" action="{% block form_action %}{% endblock%}">{% csrf_token %}
	    {% block fields %}
	    <h2 class="form-signin-heading">Add A Question</h2>
	    {{ form.non_field_errors }}
	    <div class="row">
            <div class="fieldWrapper col-lg-6">
                {{ form.question.errors }}
                {{ form.question }}
            </div>
            <div class="fieldWrapper col-lg-6">
                {{ form.answer.errors }}
                {{ form.answer }}
            </div>
	    </div>
        <div class="fieldWrapper col-lg-2">
	        {{ form.point_value.errors }}
	        {{ form.point_value }}
	    </div>
	    <div class="fieldWrapper col-lg-2">
	        {{ form.chapter.errors }}
	        {{ form.chapter }}
	    </div>
	    {% endblock %}

	    <div class="row" style="padding-top: 40px">
            <div class="col-lg-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% block login %}Add Question {% endblock %}</button>
            </div>
        </div>
	</form>
    </div>
{% endblock%}