{% extends "luminary/templates/LuminaryMenu.html" %}
{% block content %}
    <form class="form-user" method="POST" action="">{% csrf_token %}
        <table>
        {% for assignment in assignments %}
            <h1>Question List</h1>
        {% endfor %}
        </table>
    </form>
{% endblock %}