{% extends "luminary/templates/LuminaryMenu.html" %}
{% block stylesheets %}
    <link href="../../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
	    {% block fields %}
	    <h2 class="heading">Assignments</h2>
	    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAssignmentModal">+ Assignment</button>

        <ul id="assignment-list">
            {% for key, value in assignments.items %}
                <li><a href="{% url 'views.create_assignment' value %}">{{ key }}</a></li>
            {% endfor %}
	    </ul>

        <div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssignmentModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addAssignmentModalLabel">Add An Assignment</h4>
              </div>
              <form id="add_assignment_form" class="cmxform" method="POST">
              <div class="modal-body">
                      <fieldset>
                      <div class="row">
                            <div class="fieldWrapper col-lg-6">
                                {% csrf_token %}
                                {{ form.title.errors }}
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="fieldWrapper col-lg-6">
                                {{ form.point_value.errors }}
                                {{ form.point_value }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="fieldWrapper col-lg-6">
                              {{ form.due_date.errors }}
                              <div id="due_datetimepicker" class="input-group date">
                                {{ form.due_date }}
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fieldWrapper col-lg-6">
                                {{ form.type.errors }}
                                {{ form.type }}
                            </div>
                        </div>
                        </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-assignment" class="btn btn-primary">Save</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        {% endblock %}
    </div>
{% endblock%}

{% block jslibraries %}
    <script>
        $(function() {
            debugger;
            $('#add_assignment_form').bootstrapValidator({
                excluded: [':disabled'],
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    due_date: {
                        validators: {
                            notEmpty: {
                                message: 'A valid due date is required'
                            }
                        }
                    },
                    title: {
                        validators: {
                            notEmpty: {
                                message: 'An assignment name is required'
                            }
                        }
                    },
                    point_value: {
                        validators: {
                            notEmpty: {
                                message: 'The point value is required'
                            }
                        }
                    }
                },
                submitButtons: 'button[id=add-assignment]',
                submitHandler: function(validator, form, submitButton) {
                    debugger;
                    var hours = new Date($('#id_due_date').val()).getHours();
                    var minutes = new Date($('#id_due_date').val()).getMinutes();
                    var dateArray = $('#id_due_date').val().split(" ");
                    var date = dateArray[0] + " " + hours + ":" + minutes;
                    $.ajax({
                        type: "POST",
                        url: {% url 'views.add_assignment' %},
                        data: { 'due_date': date,
                                'point_value': $('#id_point_value').val(),
                                'title': $("#id_title").val(),
                                'type':$('#id_type').val() }
                    }).success(function(assignments){
                        alert("test");
                       var assignmentArray = [];
                       for(var key in assignments) {
                           var url = "{% url 'views.create_assignment' 1 %}";
                           var urlArray = url.split("/");
                           var cleanArray = [];
                           url = "";
                           var count = 0;
                           for(var i=0; i < urlArray.length; i++)
                           {
                               if(urlArray[i] != "") {
                                    cleanArray[count++] =  urlArray[i];
                               }
                           }
                           for(var j=0;j<cleanArray.length - 1;j++) {
                               url += "/" + cleanArray[j];
                           }
                        assignmentArray.push("<li><a href=\"" + url + "/" + assignments[key] +" \">" + key +  "</a></li>");
                       }
                        $("#assignment-list").empty();
                        $("#assignment-list").append(assignmentArray.join(''));
                        $("#addAssignmentModal").modal('hide');
                    }).fail( function(request, status, error){ });
                    return false;
                }
            });

            $('#due_datetimepicker').datetimepicker({
                language: 'en',
                pick12HourFormat: true
            });
      });
    </script>
{% endblock %}