{% extends "luminary/templates/LuminaryMenu.html" %}
{% block stylesheets %}
    <link href="../../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
	    {% block fields %}
	    <h2 class="heading">{{ assignment_name }}</h2>
	    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addQuestionModal">+ Question</button>

        <table id="question-table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Point Value</th>
                </tr>
            </thead>
            <tbody>
                {% for question, answer, point_value in questions %}
                    <tr>
                        <td>{{ question }}</td>
                        <td>{{ answer }}</td>
                        <td>{{ point_value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
	    </table>

        <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
            <form class="form-questions" method="post" action="{% block form_action %}{% endblock %}">{% csrf_token %}
                <input type="hidden" value="{{ num }}" id="assignment"/>
                <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addQuestionModalLabel">Add A Question</h4>
                  </div>
                  <div class="modal-body">

                      <div class="container">
                            <table>
                                {{ form.as_table }}
                                {{ formset.as_table }}
                            </table>

                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="add-question"  type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
        {% endblock %}
    </div>
{% endblock%}

{% block jslibraries %}
    <script>
        $(document).ready(function() {
            $('#question-table').dataTable();
        });
    </script>
{% endblock %}