{% extends "luminary/templates/LuminaryMenu.html" %}
{% block content %}
    <form class="form-user" method="POST" action="">{% csrf_token %}
        <div id="table-container" style="width:500px;margin-left: auto;margin-right: auto">
            <table id="user-table" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <th>Admin</th>
                        <td>
                            {{ form.is_staff.errors }}
                            {{ form.is_staff }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}