{% extends "luminary/templates/LuminaryMenu.html" %}
{% block content %}
    <table id="users-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th><a href="{% url 'luminary.urls.user_details' user.id %}">{{ user.username }}</a></th>
                <th>{{ user.is_staff }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block jslibraries %}
    <script>
        $(document).ready(function() {
                $('#users-table').dataTable();
        });
    </script>
{% endblock %}