{% extends "luminary/templates/lectures/lectures.html" %}
{% block Title %}Motion Tutorial{% endblock %}
{% block summary %}This tutorial is designed to introduce you to the basics of motion.{% endblock %}

{% block lecture %}

<h2> Experiment 1.1 </h2>

<p>The purpose of this experiment is to begin to generate the basic ideas that allow us to think and communicate about motion.  You may be familiar with some terms for motion, but initially we are looking to understand the idea behind some of the terms that may be commonplace in everyday English, but are not necessarily used according to their precise defintions in physics.  The idea is important, regardless of what we call it.</p>
Get a measuring stick and a timer.
Have someone in your group walk down the hall at a constant rate.  Use the questions below to guide your thinking about what you can say about the motion.



<h3>Questions</h3>

<ol>
  <li> How would you describe the motion of the person?</li>
  <li>What terms do you need to talk about motion?  Define each term.</li>
  <li>How would you quantify the motion?</li>
  <li>Are any of the terms you defined above quantitative?  Write down a prescription for how you calculate them.</li>
  <li> What causes the motion?</li>
</ol>

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<h2>Experiment 1.2</h2>

<p>We will do something similar in this experiment and see if you ideas and definitions above are sufficient to describe other types of motion.  Again, we are trying to generate fundamental ideas about motion and we'll worry about their official names later.</p>

<p>In the first experiment, your partner walked down the hall at a constant rate.   This time, have the rate change.  One time have the student walk down the hall getting faster and faster as she goes, the next time have her get slower and slower as she goes.</p>



      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="http://getbootstrap.com/examples/blog/#">Mark</a></p>

        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="http://getbootstrap.com/examples/blog/#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>


{% endblock %}
