<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="question">
    {{ question.question }}
</div>

<input id="answer" name="answer">
<button id="answer-button">answer</button>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> <!-- this is already included if I were using the LuminaryMenu file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        $(function() {
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#answer-button").on("click", function() {
                $.ajax({
                    url: "{% url 'views.submit_answers' %}",
                    method: "POST",
                    data: {
                        answer: $("#answer").val(),
                        question_id: {{ question_id }}
                    }
                }).done(function(questionData) {
                    $("#question").html(questionData);
                    $("#answer").val("");
                });
            });
        });
    </script>
</body>
</html>