{% extends "luminary/templates/LuminaryMenu.html" %}
{% block stylesheets %}
<style type="text/css">
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.bootstrap-tagsinput {
    width: 100%;
}
.question {
    padding-left: 5%;
    background-color: #FFFFFF;
    color: #528BA3;
    font-family: verdana;
    font-style: oblique;
    font-weight: normal;
    font-size: 17px;
    font-variant: normal;
}
[type='file'] {

}
</style>
{% endblock %}
{% block content %}

    <div class="container" ng-app="questionBankApp">
        <div ng-controller="QuestionController as controller" ng-init="controller.setQuestions()">

            {% verbatim %}
            <h1>Add a Question</h1>
            <table class="table table-bordered">
                <tr>
                    <td class="col-md-2">Question</td>
                    <td class="col-md-9"><a href="#" editable-text="question.question" onaftersave="updateQuestion($index)">Question: {{ question.question || "[question]" }}</a></td>
                    <td class="col-md-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                </tr>
                <tr ng-repeat="answer in question.answers">
                    <td class="col-md-2">Answer</td>
                    <td class="col-md-9"><a href="#" editable-text="answer.answer" onaftersave="updateQuestion($index)">{{ answer.answer || "[answer]" }}</a></td>
                    <td class="col-md-1">
                        <span style="cursor: pointer" ng-click="deleteAnswer(question, answer)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Answer</td>
                    <td class="col-md-9"><a href="#" editable-text="answer.answer" onaftersave="updateQuestion($index)" style="display:inline">{{ "[add answer]" }}</a></td>
                    <td class="col-md-1"></td>
                </tr>
            </table>

            <hr>

            <div ng-repeat="question in questions track by $index">
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-11" colspan="2"><a href="#" editable-text="question.question" onaftersave="updateQuestion($index)">Question: {{ $index + 1 }} {{ question.question || "[question]" }}</a></td>
                        <td class="col-md-1">
                            <span style="cursor: pointer" ng-click="deleteAnswer(question, answer)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </td>
                    </tr>
                    <tr ng-repeat="answer in question.answers">
                        <td class="col-md-2">Answer&nbsp<input type="checkbox" ng-model="answer.correct" ng-change="chooseAnswer(question,answer,answer.correct)">
                        <td class="col-md-9"><a href="#" editable-text="answer.answer" onaftersave="updateQuestion(answer.id)">{{ answer.answer || "[answer]" }}</a></td>
                        <td class="col-md-1"><span style="cursor: pointer" ng-click="deleteAnswer(question, answer)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-11" colspan="2"><a href="#" editable-text="answer" onaftersave="addAnswer(question, $data)" style="display:inline">{{ "[add answer]" }}</a></td>
                        <td class="col-md-1"></td>
                    </tr>
                </table>
            </div>
            {% endverbatim %}

        </div>

        <br>
    </div>
{% endblock%}

{% block jslibraries %}
<script>
    var questionBank = angular.module('questionBankApp', ["xeditable"]);
   questionBank.config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
   });
   questionBank.run(function(editableOptions){
        editableOptions.theme = 'bs3';
   });
   questionBank.controller('QuestionController', function($scope, $http) {

       this.createNewQuestion = function(){

       };

       this.setQuestions = function() {
           debugger;
           $http.get("{% url 'views.question_list' %}")
           .success(function(data, status, headers, config) {
                debugger;
                $scope.questions = data;
           });
       };

        $scope.deleteAnswer = function(question, answer) {
            debugger;
            $http.delete("{% url 'views.delete_answer_from_question' %}", {params: {question: question, answer: answer} })
            .success(function() {
                        debugger;
                        var questionIndex = $scope.questions.indexOf(question);
                        var answerIndex = question.answers.indexOf(answer);
                        if(answerIndex > -1 && questionIndex > -1) {
                            $scope.questions[questionIndex].answers.splice(answerIndex, 1);
                        }

            });
        };

        $scope.updateQuestion = function() {
            debugger;
        };

        $scope.addAnswer = function(question, answer) {
            debugger;
            $http.post("{% url 'views.add_answers_to_question' %}", {params: {question: question, answer: answer} })
            .success(function(data, status, headers, config){
                debugger;
                var newAnswer = {
                    id: data,
                    answer: answer,
                };
                question.answers.push(newAnswer)
            });
        };

       $scope.updateQuestion = function(question) {
           debugger;
           return $http.post("{% url 'views.update_question' %}", question)
                  .success(function(data, status, headers, config) {
                       debugger;
                       $scope.question.id = data;
                  });
       };
       $scope.chooseAnswer = function(question, answer, correct) {
           debugger;
           return $http.post("{% url 'views.update_answer' %}")
                  .success(function(data, status,headers, config){
                       debugger;
                  });
       };

   });
</script>
{% endblock %}